p {
    font-family: roboto;
}

h1 {
    font-family: roboto;
}

.page {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 5fr 5fr;
    background-color: brown;
    grid-auto-flow: 1fr;


}

.content1{
    background-color: rgb(215, 116, 116);
    margin: 0;
    grid-column: 1 ;
    grid-row: 1fr;    
    
}

.content2{
    background-color: rgb(207, 185, 185);
    margin: 0;
    grid-column: 1fr;
    grid-row: 1fr;   
    
}


